@media only screen and (min-width:200px) and (max-width:575px){
    nav{
        display: none;
    }    
    .non{
        display: block;
    }
    section{
        height: 200px;
    }
    .ac{
        display: none;
    }
    .imagescontant , .two , .prod , .planing , .card{
        flex-direction: column;
    }
    .amenit{
        flex-direction: column;
    }
    .partbuttion{
        flex-basis: 30%;
        width: 67%;
    }
}